*{     
    padding: 0px;    
    margin: 0px;    
    border: 0px;
}
body{
    background-color: #24292d;
}
.btn{
    position: absolute;
    margin-top: 3%;
    background-color: #24292d;
    color: #ff7675;
    border: 1px solid #ff7675;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    height: 35px;
    width: 165px;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    margin: auto;
    cursor: pointer;
}
.btn:hover{
    background-color: #ff7675;
    color: #fff;
}