*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(200deg,#f3e7e9,#e3eeff);
}
.container{
    background-color: #fff;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    /* 阴影 */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    /* 相对定位 */
    position: relative;
}
.form-box{
    /* 绝对定位 */
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #d3b7d8;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* 动画过渡 加速后减速 */
    transition: 0.5s ease-in-out;
}
.register-box,.login-box{
    /* 弹性布局 垂直排列 */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}
h1{
    text-align: center;
    margin-bottom: 25px;
    /* 大写 */
    text-transform: uppercase;
    color: #fff;
    /* 字间距 */
    letter-spacing: 5px;
}
input{
    background-color: transparent;
    width: 70%;
    color: #fff;
    border: none;
    /* 下边框样式 */
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
input::placeholder{
    color: #fff;
}
input:focus{
    color: #a262ad;
    outline: none;
    border-bottom: 1px solid #a262ad80;
    transition: 0.5s;
}
input:focus::placeholder{
    opacity: 0;
}
.form-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #a262ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.form-box button:hover{
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}
.con-box{
    width: 50%;
    /* 弹性布局 垂直排列 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 绝对定位 居中 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.con-box.left{
    left: -2%;
}
.con-box.right{
    right: -2%;
}
.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}
.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.con-box span{
    color: #d3b7d8;
}
.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover{
    background-color: #d3b7d8;
    color: #fff;
}
/*提示框css样式*/
.PromptBox {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 14;
}
.prompt {
    background: #ff7675;
    color: #fff;
    margin: 10px auto;
    padding: 15px 50px;
    border-radius: 50px;
    /* 不可复制 */
    user-select: none;
    /* 当发生 改变 时过度 */
    transition: .5s;

    transform: translate(-50%);
    position: relative;
    top: -100px;
    opacity: 0;
}
.shown {
    top: 0;
    opacity: 1;
}
/*遮罩层*/
.bac{
    position: fixed;
    width: 100%;
    height: 100%;
}
.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 100;
}
.logo_wait{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    margin: auto;
}
#word{
    background-color: transparent;
    position: absolute;
    top:92px;
    left: 41px;
    width: 50%;
    color: rgba(0,0,0,0.5);
    border: none;
    /* 下边框样式 */
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
#word::placeholder{
    color: rgba(0,0,0,0.5);
}
#word:focus{
    color: #ff7675;
    outline: none;
    border-bottom: 1px solid #ff7675;
    transition: 0.5s;
}
#word:focus::placeholder{
    opacity: 0;
}
.code{
    position: absolute;
    top:108px;
    right:38px;
}
.rep{
    position: absolute;
    top: 140px;
    left: 45px;
    color:#ff7675;
    cursor:pointer;
    font-size:9px
}
#bto{
    position: absolute;
    margin-top: 3%;
    background-color: #fff;
    color: #ff7675;
    border: 1px solid #ff7675;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    height: 35px;
    width: 165px;
    top: 180px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}
#bto:hover{
    background-color: #ff7675;
    color: #fff;
}
#p1{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #ff7675;
    font-size: 22px;
    font-weight: 600;
}
#p2{
    position: absolute;
    color: rgba(0, 0, 0,0.5);
    width: 330px;
    left: 20px;
    top: 50px;
    font-size: 7px;
    font-weight: 200;
}